h1{
    text-align: center; 
    color:rgb(29, 204, 58);  
    text-transform: uppercase;
  
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
    }
  
    
        body {
            /* background-image: url(https://p.kindpng.com/picc/s/395-3957597_header-flowers-faded-red-faded-flowers-png-transparent.png); */
            background-repeat: no-repeat;
            background-size: contain; 
            background-position: initial;
        }
    
        ul{
            list-style-type: none;
            border: 1px solid #2e1c9162;
            background-color: rgb(104, 27, 33);
            overflow: hidden;
            padding: 0px;
            margin:  0px;
    
            
        }
        li{
            float: left;
    
        }
    
        a{
            text-decoration: none;
            color: rgb(170, 160, 24);
    
            
        }
    
        li a {
            display: block;
            color: rgb(255, 0, 0);
            text-align: center;
            padding-left: 14px;
            padding-right: 14px;
            padding-top: 14px;
            padding-bottom: 14px;
           
            
        }
    
        li a:hover{
            background-color: rgb(79, 105, 50);
        }
    
    
        .nav-right{
            float: right;
        }
    
        
        li  a.active{
    
            background-color: rgb(46, 134, 123);
            color:rgb(216, 130, 18);
        }
    
        div{
            border:  3px solid; 
            border-radius: 15px ;
            border-style: double;
            box-shadow: -10px 5px 0px rgb(156, 9, 156);
            background-image: linear-gradient(rgb(155, 18, 41),rgb(61, 85, 63));
        }
    